* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERIC START */

.master {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: black;
    padding: 30px;
}

.flowchart {
    position: relative;
}

.wrapper {
    position: absolute;
    width: calc( 100% / 3 );
    height: calc( 100% / 3 );
    display: flex;
    justify-content: center;
    align-items: center;
}

/* GENERIC END */

/* WRAPPER POSITIONING START */
.home-wrapper {
    top: calc( 100% / 3 );
    right: 0;
}

.grid-wrapper {
    top: calc( 100% / 3 );
    left: 0;
}

.carbon-wrapper {
    top: 0;
    left: 0;
}

.solar-wrapper {
    top: 0;
    left: calc( 100% / 3 );
}

.gas-wrapper {
    top: 0;
    right: 0;
}

.water-wrapper {
    bottom: 0;
    right: 0;
}

.battery-wrapper {
    bottom: 0;
    left: calc( 100% / 3 );
}

/* WRAPPER POSITIONING END */

/* CIRCLES START */

.circle {
    position: relative;
    width: 60%;
    aspect-ratio: 1;
    border-radius: 50%;
    border: solid 4px white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* CIRCLES END */

/* BORDER COLOR START */

.home {
    border-color: white;
}

.grid {
    border-color: rgb(35, 35, 255);
}

.carbon {
    border-color: green;
}

.solar {
    border-color: yellow;
}

.gas {
    border-color: rgb(36, 36, 36);
}

.water {
    border-color: rgb(127, 199, 223);
}

.battery {
    border-color: grey;
}

/* BORDER COLOR END */

/* USAGE START */

.usage {
    color: white;
    font-size: 12px;
}

/* USAGE END */

/* MAIN ICONS START */

.icon {
    font-size: 22px;
    fill: white;
}

.carbon .icon {
    fill: green;
}

/* MAIN ICONS END */

/* EXPORTED AND IMPORTED SPECIAL CSS START */

.inner-icon {
    font-size: 12px;
}

.exported,
.imported {
    display: flex;
    align-items: center;
}

.exported-usage {
    color: rgb(35, 35, 255);
}

.exported svg {
    fill: rgb(35, 35, 255);
    margin-right: 4px;
}

.imported-usage {
    color: rgb(100, 100, 255);
}

.imported svg {
    fill: rgb(100, 100, 255);
    margin-right: 4px;
}

/* EXPORTED AND IMPORTED SPECIAL CSS END */
